---
import { cva, type VariantProps } from 'class-variance-authority';
import { cn } from '@/lib/utils';
import Divider from '@/components/ui/layout/Divider.astro';

const tabsVariants = cva('flex gap-2', {
    variants: {
        orientation: {
            horizontal: 'flex-col items-start',
            vertical: 'flex-row items-start',
        },
    },
});

export interface Props extends VariantProps<typeof tabsVariants> {
    defaultValue?: string;
    underline?: boolean;
    class?: string;
    [key: string]: any; // Alpine.js pass-through
}

const {
    defaultValue,
    orientation = 'horizontal',
    underline = false,
    class: className,
    ...alpineProps
} = Astro.props;
---

<div
    x-data={`{
    selectedTab: '${defaultValue}',
    orientation: '${orientation}'
  }`}
    class={cn(
        tabsVariants({
            orientation,
        }),
        className
    )}
    data-orientation={orientation}
    {...alpineProps}
>
    <div class="relative w-fit">
        <slot name="list" />
        {
            underline && (
                <Divider
                    direction={orientation || 'horizontal'}
                    color="gray"
                    thickness="1"
                    class={cn(
                        'absolute',
                        orientation === 'horizontal'
                            ? 'bottom-0 left-0 w-full'
                            : 'top-0 right-0 h-full'
                    )}
                />
            )
        }
    </div>
    <slot />
</div>
