---
import { cn } from '@/lib/utils';

export interface Props {
  class?: string;
  [key: string]: any;
}

const {
  class: className,
  ...alpineProps
} = Astro.props;
---

<template {...alpineProps}>
  <div class={cn("", className)}>
    <div x-show="!page.isEllipsis">
      <slot name="link" />
    </div>
    <div x-show="page.isEllipsis">
      <slot name="ellipsis" />
    </div>
  </div>
</template>