---
import { cn } from '@/lib/utils';

export interface Props {
    condition: string; // Alpine.js expression to evaluate
    class?: string;
    [key: string]: any; // Alpine.js pass-through
}

const { condition, class: className = '', ...alpineProps } = Astro.props;

const classes = cn(className);
---

<div class={classes} {...alpineProps}>
    <!-- True case slot -->
    <div x-show={condition}>
        <slot name="true" />
    </div>

    <!-- False case slot -->
    <div x-show={`!(${condition})`}>
        <slot name="false" />
    </div>
</div>
