---
import Popup from '../../overlay/popup/Popup.astro';

export interface Props {
    className?: string;
    [key: string]: any;
}

const {
    className,
    ...alpineProps
} = Astro.props;
---

<div
    x-data="{
        selectedValue: '',
        selectedLabel: ''
    }"
>
    <Popup trigger="click" className={className} {...alpineProps}>
        <slot />
    </Popup>
</div>